.videofooter__section {
      position: absolute;
      bottom: 20px;
      width: 100%;
      padding: 0 20px;
      gap: 20px;
      display: flex;
      align-items: center;
}



.videoFooter__avatar {
      width: 35px !important;
      height: 35px !important;
      object-fit: cover;
}

.videoFooter__Details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: flex-start;
}

.videoFooter__name {
      font-size: 20px;
      color: #eeeeee;
      font-weight: 500;
      letter-spacing: .3px;
      text-shadow: 1px 1px 10px #000;
      text-transform: capitalize;
}

.videoFooter__title {
      font-size: 15px;
      color: #cacaca;
      font-weight: 500;
      letter-spacing: .3px;
      text-shadow: 1px 1px 10px #000;

}