* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: none;
  background-color: rgb(37, 37, 37);
  display: grid;
  place-items: center;
}

html {
  scroll-snap-type: y mandatory;
}

.app__body {
  width: 400px;
  height: 800px;
  background-color: rgb(37, 37, 37);
  scroll-snap-type: y mandatory;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 20px;
}


.app__body::-webkit-scrollbar {
  display: none;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  body {
    display: flex;
    align-items: flex-start;  
    justify-content: flex-start;
  }

  .app__body {
    width: 100vw;
    height: 93.5vh;
    border-radius: 0px;
  }

}